{ 
    "app_id": "",
    "app_secret": "",
    "return_url": "http://localhost/posttofacebook/",
    "perms": "manage_pages publish_stream",
    "comments": "add a key called token with the token given from oauth to skip auth"
}

